@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


a {text-decoration: none; transition: 0.6s; color: #E9FB00;}
a:hover {text-decoration: none; transition: 0.2s; transform: scale(1.2);}
a:active {text-decoration: none;}

*, *::before, *::after {
    box-sizing: border-box;
}


#bo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: url('pattern.png');
    background-size: 20%;  
    color: #E9FB00;
}
h2{
    font-size: 0.8em;
    padding: 10px;
    margin: 20px 40px;
}
h1{
    margin: 2% 7%;
    font-size: 2em;
}

td{
    padding: 10px 10px;
    width: 220px;
    text-align: center;
    margin: 0;
    border-collapse:collapse;
    }
#list{
    background-image: url(https://i.pinimg.com/originals/24/22/32/24223276aba1bd1f91190a745023e469.gif);
    margin: 30px auto;
    padding: 40px 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: #000;
    background-size: cover;
    
}

.head{
    color: black;
    font-size: 40px;
    }
    
.chet{
    background: #1b0924a2;
    color: #FCFFD9;
    border: 22px solid #7309AA ;
    }
    
p{font-size:0.6em;}
    
.naz{
    border-radius: 20px;
    background-color: #AF3BD4;
    font-size: 3em;
    text-align: center;
    margin:5% 30%;
    padding: 10px 0;
    transition: 1s;
}
.naz:hover{
    border-radius: 10px;
    transition: 0.7s;
    transform: scale(1.1);
    background-color: #EE51B1;
    
}


.block{
    display: block;
    border-radius: 1vw;
    background-color: #AF3BD4;
    font-size: 3em;
    text-align: center;
    margin:5% 10%;
    padding: 10px 10px;
    transition: 0.5s;
}

.block:hover{
    background-color: #EE51B1;
    transform: scale(1.1);
    transition: 0.3s;
}


header{
    display: flex;
    justify-content:space-between;
    border-radius: 0vh 0vh 3vh 3vh;
    background-color: #AF3BD4;
    font-size: 200%;
    text-align: center;
    margin:0 1em;
    padding: 10px 0;
    transition: 1s;
}




.shapka{
    margin:auto;
}

.ceshap{
    font-size: 2em;
}

.komshap{
    font-size: 1em;
    transition: 0.6;
    transition: 0.6s;
}
.komshap:hover{
    transform: scale(1.1);
    transition: 0.2s;
}


main {
    flex: auto;
    flex-direction: column;
}
  
  footer {
      flex-shrink: 0;
}

.logo{
    width: 15vh;
    margin-right: 20%;
    border-radius: 50px;
}

.table_index{
    margin:5% 30%;
}


canvas {
    background: #eee;
    display: block;
    margin: 20px auto 100px;
}
